# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

/microblob
*.ldb
data.db
/fixtures/example.ldj
/fixtures/example.map
/fixtures/example.db
/fixtures/example.boltdb

microblob_.*_amd64.deb
packaging/deb/microblob/usr

/*.deb
/*.rpm

vagrant.key
/.vagrant/*

fixtures/*microdb
packaging/deb/microblob/DEBIAN/control
fixtures/1000.ldj.*
fixtures/*.db
