[Unit]
Description=Simplistic HTTP key-value server for JSON data, run curl 0.0.0.0:8820/hello to test (vanilla install)
Documentation=man:microblob(1) http://www.github.com/miku/microblob
After=network.target

[Service]
Type=simple
User=daemon
WorkingDirectory=/tmp
ExecStart=/usr/local/bin/microblob -c /etc/microblob/microblob.ini
Restart=on-failure

[Install]
WantedBy=multi-user.target

